{
	"wifi" : [
		{ "ssid": "my-access-point-name", "psk": "password" },
		{ "ssid": "another", "psk": "another" },
		{ "ssid": "and so on", "psk": "and so on" }
	],
	"syslog-host" : "94.142.246.161",
	"log-level": "info",
	"trim-level": 2,
	"eth-wait-time": 10,
	"update-df-interval": 0,
	"led-green": -1,
	"led-yellow": -1,
	"led-red": -1,
	"SD-MISO": 19,
	"SD-MOSI": 23,
	"SD-SCLK": 18,
	"SD-CS": 5,
	"spi-speed": 16
}
