Source: iesp
Maintainer: Folkert van Heusden <mail@vanheusden.com>
Section: net
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (= 12)
Homepage: https://github.com/folkertvanheusden/iesp

Package: iesp
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple iSCSI target server application.
